html {
    background-color: bisque;
}

h1 {
    font-size: 50px;
    color: darkcyan;
}

h2 {
    font-size: 50px;
    color: darkcyan;
}

img {
    max-width: 400px;
    max-height: 400px;
    border: 5px solid black;
}


#page {
    text-align: center;
}

.button a {
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    transition: .4s linear;
    text-decoration: none;
}

.button a:hover {
    background-color: black;
    color: white;
}